In [ ]:
# 1. Напишите функцию для разделения строки и преобразования ее в список
# слов. Пример "Robin Singh" ==> ["Robin", "Singh"]

def separate(str) -> list:
  return str.split()
separate('Robin Singh qweqeqwe tyrnbnfgh')

['Robin', 'Singh', 'qweqeqwe', 'tyrnbnfgh']

In [ ]:
# 2. Натан любит кататься на велосипеде. Поскольку Натан знает, как важно
# избегать обезвоживания, он выпивает 0,5 литра воды за час езды на
# велосипеде. Вам дано время в часах, и вам нужно вернуть количество
# литров, которое выпьет Натан, округленное до наименьшего значения.
# Пример time = 3 ----> litres = 1

def bul_bul(hours):
  litres = hours * 0.5
  return litres // 1
bul_bul(33)
# math.trunc()

16.0

In [ ]:
# 3. Создайте функцию, которая возвращает список целых чисел от n до 1,
# где n>0. Пример: n=5-->[5,4,3,2,1]
def list_num(n):
  if n <= 0: return

  a = [i + 1 * 1 for i in range(n)[::-1]]
  return a
list_num(10)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 4. Учитывая год, верните столетие, в котором он находится.
# Пример 1705 --> 18 1900 --> 19 1601 --> 17
def century(num):
  if num <= 0: return
  a = num // 100 + 1
  return a
century(2024)

21

In [ ]:
# 5. Учитывая случайное неотрицательное число, вам необходимо вернуть
# цифры этого числа в массиве в обратном порядке. 35231 => [1,3,2,5,3]
def any_number_list(num):

  a = reversed(str(num))
  b = []

  for i in a:
    b.append(int(i))

  return b

any_number_list(35231)

[1, 3, 2, 5, 3]

In [ ]:
# Получить квадратные матрицы порядка n (через список как на
# занятии), элементами которых являются заданные
# действительные числа 1, 2, ..., n*n, расположенные в ней по схемам,
# которые приведены на рисунках
n = 8
def matrix_down_up(n):
  mat_down_up = []
  for i in range(n):
    a = []
    b = 0
    for j in range(n):
      if j % 2 > 0:
        b = (j + 1) * n - i
      if j % 2 == 0:
        if j == 0:
          b = (i + 1)
        else:
          b = (i + 1) + b + i

      a.append(b)
    mat_down_up.append(a)
  return mat_down_up

matrix_down_up(n)

[[1, 16, 17, 32, 33, 48, 49, 64],
 [2, 15, 18, 31, 34, 47, 50, 63],
 [3, 14, 19, 30, 35, 46, 51, 62],
 [4, 13, 20, 29, 36, 45, 52, 61],
 [5, 12, 21, 28, 37, 44, 53, 60],
 [6, 11, 22, 27, 38, 43, 54, 59],
 [7, 10, 23, 26, 39, 42, 55, 58],
 [8, 9, 24, 25, 40, 41, 56, 57]]

In [ ]:
n = 8

def matrix_right_left(n):
  mat_right_left = []
  b = 0
  for i in range(n):
    a = []

    for j in range(n):

      if i % 2 == 0:
        if j == 0 and i > 0:
          b = b
        else:
          b = b + 1

      if i % 2 > 0:
        if j > 0:
          b = b - 1

      a.append(b)

    b = b + n

    mat_right_left.append(a)
  return mat_right_left

matrix_right_left(n)

[[1, 2, 3, 4, 5, 6, 7, 8],
 [16, 15, 14, 13, 12, 11, 10, 9],
 [17, 18, 19, 20, 21, 22, 23, 24],
 [32, 31, 30, 29, 28, 27, 26, 25],
 [33, 34, 35, 36, 37, 38, 39, 40],
 [48, 47, 46, 45, 44, 43, 42, 41],
 [49, 50, 51, 52, 53, 54, 55, 56],
 [64, 63, 62, 61, 60, 59, 58, 57]]